Import Libraries

In [19]:
import pandas as pd
import numpy as np

Reading our Datasets

In [20]:
home_price = pd.read_csv("data/S&P_home_price.csv",index_col=False)
new_construction = pd.read_csv("data/new_construction.csv",index_col=False)
usa_gdp = pd.read_csv("data/us_GDP.csv",index_col=False)
fed_rates = pd.read_csv("data/Fed_rates.csv",index_col=False)
permits = pd.read_csv("data/permits.csv",index_col=False)
mortgage_rates = pd.read_csv("data/mortgage.csv",index_col=False)
personal_income = pd.read_csv("data/personal_income.csv",index_col=False)

Home Prices Over Time

In [21]:
start_date = '01-01-2000' 
end_date = '01-01-2020'
home_price.columns = ["date","price"]
home_price["date"] = pd.to_datetime(home_price["date"])
home_price = home_price[(home_price["date"] >= start_date) & (home_price["date"] <= end_date)]
home_price = home_price.reset_index(drop=True)

New Constructions Over Time

In [22]:
new_construction.columns = ["new_construction"]
final_df = home_price.join(new_construction)

GDP of USA

In [23]:
usa_gdp.columns = ["date","gdp"]
usa_gdp["date"] = pd.to_datetime(usa_gdp["date"])
usa_gdp = usa_gdp[(usa_gdp["date"] >= start_date) & (usa_gdp["date"] <= end_date)]
usa_gdp = usa_gdp.reset_index(drop=True)
final_df = final_df.join(usa_gdp["gdp"])

Federal Rates Over 20 Years

In [24]:
fed_rates.columns = ["date","fed_rate"]
fed_rates["date"] = pd.to_datetime(fed_rates["date"])
fed_rates = fed_rates[(fed_rates["date"] >= start_date) & (fed_rates["date"] <= end_date)]
fed_rates = fed_rates.reset_index(drop=True)
fed_rates["date"] = pd.to_datetime(fed_rates["date"])
fed_rates = fed_rates.resample('MS', on='date')['fed_rate'].agg('mean')
fed_rates = pd.DataFrame(fed_rates, columns=["fed_rate"])
fed_rates.reset_index(inplace=True)
final_df = final_df.join(fed_rates["fed_rate"])

Permits Granted

In [25]:
permits.columns = ["permit"]
final_df = final_df.join(permits)

Mortgage Rates

In [26]:
mortgage_rates.columns = ["date","mortgage_rate"]
mortgage_rates["date"] = pd.to_datetime(mortgage_rates["date"])
mortgage_rates = mortgage_rates[(mortgage_rates["date"] >= start_date) & (mortgage_rates["date"] <= end_date)]
mortgage_rates = mortgage_rates.reset_index(drop=True)
final_df = final_df.join(mortgage_rates["mortgage_rate"])

Personal Income

In [27]:
personal_income.columns = ["date","personal_income"]
personal_income["date"] = pd.to_datetime(personal_income["date"])
personal_income = personal_income[(personal_income["date"] >= start_date) & (personal_income["date"] <= end_date)]
personal_income = personal_income.reset_index(drop=True)
final_df = final_df.join(personal_income["personal_income"])

The Final Dataset

In [28]:
price = final_df.pop("price")
final_df.insert(7, "price", price)

In [29]:
display(final_df.head(), final_df.tail())

,date,new_construction,gdp,fed_rate,permit,mortgage_rate,personal_income,price
0,2000-01-01,107.3,101.491397,5.448387,1727,8.2100,8382.6,100.552
1,2000-02-01,121.8,101.552445,5.734828,1692,8.3250,8443.7,101.339
2,2000-03-01,153.7,101.626906,5.853548,1651,8.2400,8503.7,102.127
3,2000-04-01,138.9,101.698161,6.019667,1597,8.1525,8542.9,102.922
4,2000-05-01,148.9,101.740194,6.268065,1543,8.5150,8580.9,103.677

,date,new_construction,gdp,fed_rate,permit,mortgage_rate,personal_income,price
236,2019-09-01,118.3,100.843630,2.043000,1461,3.605,18522.1,210.911
237,2019-10-01,135.8,100.884768,1.829677,1520,3.688,18587.4,211.598
238,2019-11-01,111.0,100.921514,1.553333,1497,3.695,18683.0,212.446
239,2019-12-01,110.7,100.951586,1.550968,1439,3.720,18675.1,213.434
240,2020-01-01,116.4,100.966969,1.550000,1493,3.624,18873.9,214.490

 Saving the Model

In [30]:
final_df.to_csv("data/final_df.csv", index=False)